<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403791603126-c12at72cg81l4147rbv8m4pjji9ukfsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403791603126-c12at72cg81l4147rbv8m4pjji9ukfsh</string>
	<key>API_KEY</key>
	<string>AIzaSyAEYhjJcuhi2S8ZKdSC3sb3RyehdzP_0kc</string>
	<key>GCM_SENDER_ID</key>
	<string>403791603126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LiamHao.Publisher</string>
	<key>PROJECT_ID</key>
	<string>publisher-7ef79</string>
	<key>STORAGE_BUCKET</key>
	<string>publisher-7ef79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403791603126:ios:afeba552517d136c7b4d17</string>
</dict>
</plist>